<div class="about-me-main">
    <div class="about-me-content">
        <div class="text-frame">
            <span>About me</span>
            <div class="about-me-bottom">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ab itaque exercitationem id ad
                    totam,
                    ipsa
                    nesciunt, accusamus consectetur, inventore deserunt quam laboriosam ratione voluptate sit tempora a
                    accusantium quis?</p>
                <div class="about-me-details">
                    <div>
                        <img class="puzzle-bulp-picture" src="/assets/img/bulb.png" alt="">
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum vitae iure labore exercitationem
                        temporibus vero consequatur illo odio dignissimos praesentium.</p>
                </div>
                <div class="about-me-details">
                    <img class="puzzle-bulp-picture" src="/assets/img/puzzle.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus aliquam tempora perferendis
                        voluptas, placeat at sed ex itaque dolor nisi inventore unde recusandae</p>
                </div>
            </div>
        </div>
        <div class="picture-block">
            <div class="ring">
                <img src="/assets/img/Edna.png" alt="">
            </div>
            <div class="vector"></div>
        </div>
    </div>
    <div class="about-me-shadow">
        <img src="/assets/img/shadow.png" alt="">
    </div>
</div>