@media(max-width: 1930px) {
    .vector-extension {
        width: 200px;
    }

    .vector {
        width: 250px;
    }
}

@media(max-width: 1600px) {
    .about-me-main {
        padding: 100px 100px 100px 100px;
    }

    .vector-extension {
        width: 100px;
    }
}

@media(max-width: 1438px) {
    .ring {
        height: 380px;
        width: 380px;

        >img {
            height: 500px;
        }
    }

    .vector {
        width: 150px;
    }

    .text-frame {
        >span {
            font-size: 60px;
        }
    }
}

@media(max-width: 1200px) {
    .vector {
        width: 90px;
    }
}

@media(max-width: 1100px) {
    .about-me-main {
        padding: 100px 50px 100px 50px;
    }

    .vector-extension {
        width: 50px;
    }

    .about-me-content {
        margin-bottom: 50px;
    }

    .about-me-details {
        margin-left: 20px;
    }

    .vector {
        width: 100px;
    }

    .ring {
        width: 250px;
        height: 250px;

        >img {
            height: 350px;
        }
    }
}

@media(max-width: 1000px) {
    .vector {
        width: 50px;
    }
}

@media(max-width: 850px) {
    .picture-block {
        display: none;
    }

    .text-frame {
        max-width: inherit;
    }
}

@media(max-width: 550px) {
    .about-me-main {
        padding: 100px 30px 100px 30px;
    }
}

@media(max-width: 450px) {
    .about-me-main {
        padding: 100px 15px 100px 15px;
    }

    .text-frame {

        >span {
            font-size: 40px;
        }
    }

    .about-me-details {
        margin-left: 5px;
        gap: 20px;

        >img {
            width: 45px;
            height: 45px;
        }
    }

    .puzzle-bulp-picture {
        width: 45px;
    }

    .about-me-shadow {
        right: -400px;
    }
}