header {
    position: fixed;
    top: 0;
    z-index: 3;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 30px;
    background-color: #141D2F;
    color: white;
    padding: 37px 100px 37px 100px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.first-letter {
    color: #4B47FF;
    ;
}

nav {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.header-link:hover {
    color: #00BEE8;
}

a {
    text-decoration: none;
    color: white;
}

.border {
    height: 3px;
    width: 45px;
    background-color: #141D2F;
}

.border-trans {
    height: 2px;
    width: 15px;
    background-color: #141D2F;
}

.hoverColor {
    color: #00BEE8;
}

.hoverBorder {
    background-color: #4B47FF;
}

.translate-box {
    display: flex;
    gap: 5px;
    font-size: 16px;

    >div {
        &:hover {
            color: #00BEE8;
            cursor: pointer;
        }
    }
}

.hamburger-menu {
    display: none;
}

.burger-overlay {
    height: 100vh;
    max-width: 680px;
    width: 100%;
    background-color: rgba(20, 29, 47, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateX(100vw);
    transition: 225ms ease-in-out;
}

.burger-show {
    transform: translateX(0);
}

.overlay-head {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 37px 50px 37px 50px;
    box-sizing: border-box;
    font-size: 30px;
    background-color: #141D2F;

    >img {
        height: 32px;
    }
}

.close-burger {
    cursor: pointer;
}

.mobile-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 20px;
}

.translate-box-mobile {
    display: flex;
    gap: 20px;

    >div {
        &:hover {
            color: #00BEE8;
            cursor: pointer;
        }
    }
}