@media(max-width: 1600px) {
    header {
        padding: 37px 100px 37px 100px;
    }
}

@media(max-width: 1100px) {
    header {
        padding: 37px 50px 37px 50px;
    }
}

@media(max-width: 680px) {
    nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        cursor: pointer;
        transition: 225ms ease-in-out;
    }

    .close-burger {
        transition: 225ms ease-in-out;
    }
}

@media(max-width: 550px) {
    header {
        padding: 37px 30px 37px 30px;
    }

    .overlay-head {
        padding: 37px 30px 37px 30px;
    }
}

@media(max-width: 450px) {
    header {
        padding: 37px 15px 37px 15px;
    }

    .overlay-head {
        padding: 37px 15px 37px 15px;
    }
}