.skills-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.skills-main {
    background-color: #141D2F;
    padding: 100px 200px 100px 200px;
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
}

.skills-content {
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    row-gap: 55px;
    column-gap: 100px;
    max-width: 661px;
    width: 100%;
    flex-wrap: wrap;
    z-index: 2;

    >div {
        width: 90px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        >img {
            height: 60px;

            &:hover {
                animation: dancing-skill 500ms infinite alternate;
            }
        }
    }
}

.jumping {
    animation: dancing-skill 500ms alternate;
    animation-iteration-count: 6;
}

@keyframes dancing-skill {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.skill-name {
    font-weight: 700;
}

.skill-textframe {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
    text-align: end;
    padding-left: 50px;

    >div {
        display: flex;
        align-items: center;
    }
}

.headline {
    font-size: 80px;
    font-weight: 700;
}

.skill-vector {
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #4B47FF;
    width: calc((100% - 1920px)/2 + 180px);
}

.touch-btn {
    width: 180px;
    height: 55px;
    background-color: #00BEE8;
    border: none;
    color: white;
    font-family: 'Poppins';
    border-radius: 10px;
    font-size: 22px;
    transition: ease-in-out 100ms;
    margin-top: 25px;
    margin-right: 85px;

    &:hover {
        background-color: #4B47FF;
        cursor: pointer;
        transform: scale(1.1);
    }
}

.skill-shadow {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1;
}