.contact-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-main {
    background-color: #141D2F;
    position: relative;
    padding: 100px 200px 100px 200px;
    max-width: 1920px;
    box-sizing: border-box;
}

.contact-head {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-vector {
    width: calc((100% - 1920px)/2 + 180px);
    height: 3px;
    background-color: #4B47FF;
    position: absolute;
    top: 155px;
    left: 0;
    z-index: 1;
}

.contact-name {
    font-size: 80px;
    font-weight: 700;
}

.contact-content {
    box-sizing: border-box;
    display: flex;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    box-sizing: border-box;
    padding-right: 100px;
}

.contact-topic {
    font-size: 32px;
    font-weight: 700;
}

.contact-form {
    width: 50%;
    z-index: 1;
}

.input-helper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.input-image {
    position: absolute;
    top: 12px;
    right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-style {
    height: 50px;
    outline: none;
    display: flex;
    box-sizing: border-box;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';

    &:hover {
        cursor: pointer;
        border: 1px solid #00BEE8;
    }

    &::placeholder {
        color: white;
        font-family: 'Poppins';
    }
}

.textarea-helper {
    position: relative;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    box-sizing: border-box;
    padding: 5px;

    &:hover {
        cursor: pointer;
        border: 1px solid #00BEE8;
    }

    &::after {
        content: url('/assets/img/resize_grabber.png');
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 5px;
        right: 0;
        pointer-events: none;
        background-color: #141D2F;
    }
}

textarea {
    min-height: 200px !important;
    resize: vertical;
    cursor: pointer;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';
    border: none;
    border-radius: 10px;
    display: flex;

    &::placeholder {
        color: white;
        font-family: 'Poppins';
    }
}

.privacy {
    >a {
        color: #4B47FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.submit-helper {
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: #B6B6B6;
    border-radius: 10px;
    border: none;
    color: white;
    height: 55px;
    font-size: 23px;
    width: 250px;
}

.warning-text {
    color: #E61C40;
    font-size: 14px;
}

.go-up-btn {
    display: flex;
    justify-content: flex-end;

    >a {
        div {
            height: 50px;
            width: 50px;
            background-image: url('/assets/img/go_up.png');
            background-repeat: no-repeat;
            background-position: center;
            transition: ease-in-out 100ms;

            &:hover {
                background-image: url('/assets/img/go_up_blue.png');

            }
        }
    }
}

.contact-shadow {
    position: absolute;
    bottom: -10px;
    left: -60px;

    >img {
        height: 650px;
    }
}

.green-input {
    border: 1px solid #70E61C;
}

.red-input {
    border: 1px solid #E61C40;
}

.red-border {
    border: 1px solid #E61C40;
}

.green-border {
    border: 1px solid #70E61C;
}

.valid-btn {
    background-color: #00BEE8;
    transition: ease-in-out 100ms;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px #141D2F inset !important;
}

.dialog-frame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141d2fb6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1999;
}

.dialog-content {
    height: 300px;
    width: 500px;
    background-color: #141D2F;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #00BEE8;
}

.checkbox-div {
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.wrapper-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;

    &:hover .checkbox-circle {
        position: absolute;
        border-radius: 100%;
        background-color: #141D2F;
        filter: brightness(4);
        cursor: pointer;
        height: 30px;
        width: 30px;
        opacity: 0.5;
    }
}

.checkbox-frame {
    height: 20px;
    width: 20px;
    border: 2px solid #00BEE8;
    box-sizing: border-box;
    border-radius: 5px;
}

.check {
    position: absolute;
    cursor: pointer;
    color: #00BEE8;
    font-size: 18px;
    font-weight: bold;
}