.contact-main {
    background-color: #141D2F;
    position: relative;
}

.contact-head {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-vector {
    width: 50px;
    height: 3px;
    background-color: #4B47FF;
}

.contact-name {
    font-size: 80px;
    font-weight: 700;
}

.contact-content {
    padding: 100px;
    box-sizing: border-box;
    display: flex;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    box-sizing: border-box;
    padding-right: 100px;
}

.contact-topic {
    font-size: 32px;
    font-weight: 700;
}

.contact-form {
    width: 50%;
    z-index: 1;
}

.input-helper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.input-image {
    position: absolute;
    top: 12px;
    right: 10px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-style {
    height: 50px;
    outline: none;
    display: flex;
    box-sizing: border-box;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';

    &:hover {
        cursor: pointer;
        border: 1px solid #00BEE8;
    }

    &::placeholder {
        color: white;
        font-family: 'Poppins';
    }
}

.textarea-helper {
    position: relative;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    box-sizing: border-box;
    padding: 5px;

    &:hover {
        cursor: pointer;
        border: 1px solid #00BEE8;
    }

    &::after {
        content: url('/assets/img/resize_grabber.png');
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 6px;
        right: 1px;
        pointer-events: none;
        background-color: #141D2F;
    }
}

textarea {
    min-height: 200px !important;
    resize: vertical;
    cursor: pointer;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';
    border: none;
    border-radius: 10px;
    display: flex;

    &::placeholder {
        color: white;
        font-family: 'Poppins';
    }
}

.privacy {
    >a {
        color: #4B47FF;
        text-decoration: none;
    }
}

.checkbox-default {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.new-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #141D2F;
    border: 1px solid #00BEE8;
}

.checkbox-div {
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.submit-helper {
    display: flex;
    justify-content: center;
}

.submit-btn {
    background-color: #B6B6B6;
    border-radius: 10px;
    border: none;
    color: white;
    height: 55px;
    font-size: 23px;
    width: 250px;
}

.warning-text {
    color: #E61C40;
    font-size: 14px;
}

.go-up-btn {
    display: flex;
    justify-content: flex-end;

    >a {
        div {
            height: 50px;
            width: 50px;
            background-image: url('/assets/img/go_up.png');
            background-repeat: no-repeat;
            background-position: center;
            transition: ease-in-out 100ms;

            &:hover {
                background-image: url('/assets/img/go_up_blue.png');

            }
        }
    }
}

.contact-shadow {
    position: absolute;
    bottom: -230px;

    >img {
        height: 650px;
    }
}

.green-input {
    border: 1px solid #70E61C;
}

.red-input {
    border: 1px solid #E61C40;
}

.red-border {
    border: 1px solid #E61C40;
}

.green-border {
    border: 1px solid #70E61C;
}

.valid-btn {
    background-color: #00BEE8;
    transition: ease-in-out 100ms;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    position: relative;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid #00BEE8;
    background-color: #141D2F;
    border-radius: 5px;
}

.checkbox:hover input~.checkmark {
    background-color: #00bee862;
    cursor: pointer;
}

.checkbox .checkmark:after {
    top: -2px;
    width: 5px;
    height: 10px;
    left: 4px;
    color: #00BEE8;
    font-weight: bold;
    font-size: 15px;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    content: '✓';
    position: absolute;
    display: none;
}

input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px #141D2F inset !important;
}

