<div class="main-projects">
    @for (item of projetcs; track $index) {

    <div [class.reverse]="$index % 2 != 0">
        <div class="image-container" [ngClass]="$index % 2 != 0 ? 'position-1' : 'position-2'">
            <img src="/assets/img/projects_img/{{ item.image }}.png" alt="">
        </div>
        <div class="details-container" [class.flex-end]="$index % 2 != 0">
            <span class="name">{{ item.name }}</span>
            <span class="language">{{ item.language }}</span>
            @if(langunage.english){
            <span [class.text-end]="$index % 2 != 0">{{ item.en_description }}</span>
            }
            @if(langunage.german){
            <span [class.text-end]="$index % 2 != 0">{{ item.ger_description }}</span>
            }
            <div>
                <a [href]="item.link" target="_blank">
                    <button class="test-btn">Live test</button>
                </a>
                <a [href]="item.git" target="_blank">
                    <button class="git-btn">Github</button>
                </a>
            </div>
        </div>
    </div>
    }
</div>