<div class="atf-main">
    <div class="atf-shadow">
        <img src="/assets/img/double_shadow.png" alt="">
        <img class="atf-image" src="/assets/img/Edna.png" alt="">
    </div>
    <div class="right-content">
        <div class="developer-container">
            <span class="rotate">I am</span>
            <div class="name-box">
                <span class="name">Marcus Haas</span>
                <span class="frontend-text">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button class="talk">Let´s talk!</button>
    </div>
    <div class="wave">
        <img src="/assets/img/wave.png" alt="">
    </div>
    <div class="atf-bottom">
        <div class="atf-border"></div>
        <img src="/assets/img/github.png" alt="">
        <img src="/assets/img/email.png" alt="">
        <img src="/assets/img/linkedin.png" alt="">
        <span>marcus-haas&#64;hotmail.de</span>
    </div>
    <div class="atf-scroll-down">
        <p>Scroll down</p>
        <img src="/assets/img/arrow_down.png" alt="">
    </div>
</div>