@media(max-width: 1438px) {
    .name {
        font-size: 60px;
        line-height: 62px;
    }

    .frontend-text {
        font-size: 35px;
        line-height: 40px;
    }

    .rotate {
        font-size: 40px;
    }

}

@media(max-width: 1100px) {
    .atf-main {
        padding: 0px 50px 100px 50px;
    }

    .atf-image {
        left: 0;
    }

    .shadow-image {
        position: absolute;
        left: -100px;
    }

    .frontend-text {
        font-size: 25px;
        line-height: 35px;
    }

    .name {
        font-size: 38px;
        line-height: 45px;
    }

    .rotate {
        font-size: 29px;
    }

    .atf-scroll-down {
        right: 25px;
    }
}

@media(max-width: 850px) {
    .atf-main {
        flex-direction: column;
        align-items: initial;
        justify-content: normal;
        gap: 100px;
        overflow: clip;
    }

    .atf-shadow {
        width: 100%;
        height: 60vh;
    }

    .shadow-image {
        left: unset;
        height: 100%;
        margin-top: 100px;
    }

    .atf-image {
        left: unset;
        margin-top: 100px;
        height: 70vh;
    }

    .right-content {
        gap: 20px;
    }

    .wave {
        top: 50vh;

        >img {
            height: 45vh;
        }
    }

    .atf-scroll-down {
        display: none;

    }

    .atf-bottom {
        bottom: 20px;

        a {
            >span {
                display: none;
            }
        }
    }
}

@media(max-width: 550px) {
    .atf-main {
        padding: 0px 30px 100px 30px;

    }
}

@media(max-width: 450px) {
    .atf-main {
        padding: 0px 15px 100px 15px;
        gap: 50px;
    }

    .right-content {
        gap: 10px;
    }

    .atf-image {
        height: 55vh;
    }

    .shadow-image {
        height: 80%;
    }

    .wave {


        >img {
            height: 25vh;
        }
    }

    .atf-border {
        width: 55px;
    }

    .atf-bottom {
        gap: 30px;
    }

    .frontend-text {
        font-size: 18px;
        line-height: 30px;
    }

    .name {
        font-size: 30px;
        line-height: 40px;
    }

    .rotate {
        font-size: 23px;
    }

    .talk {
        width: 140px;
        height: 50px;
    }

}