@media(max-width: 1438px) {
    .name {
        font-size: 60px;
        line-height: 62px;
    }

    .frontend-text {
        font-size: 35px;
        line-height: 40px;
    }

    .rotate {
        font-size: 40px;
    }

    .shadow-image {
        width: 450px;
    }

    .atf-image {
        width: 460px;
        height: 476px;
        margin-right: 40px;
    }

}

@media(max-width: 1100px) {
    .atf-image {
        width: 370px;
        height: 390px;
        margin-right: 30px;
    }

    .shadow-image {
        height: 700px;
    }

    .wave {
        bottom: -200px;

        >img {
            height: 700px;
        }
    }

    .frontend-text {
        font-size: 25px;
        line-height: 35px;
    }

    .name {
        font-size: 38px;
        line-height: 45px;
    }

    .rotate {
        font-size: 29px;
    }

    .developer-container {
        margin-right: 50px;
    }

    .atf-scroll-down {
        right: 25px;
    }
}

@media(max-width: 850px) {
    .atf-main {
        flex-direction: column;
        align-items: initial;
        justify-content: normal;
    }

    .shadow-image {
        height: 620px;
        width: auto;
        max-width: 100%;
    }

    .atf-image {
        margin-right: 0;
        height: 575px;
        width: 500px;

    }

    .right-content {
        gap: 20px;
    }

    .wave {
        bottom: 0;

        >img {
            height: 400px;
        }
    }

    .atf-scroll-down {
        display: none;

    }

    .atf-bottom {
        a {
            >span {
                display: none;
            }
        }
    }
}

@media(max-width: 550px) {
    .atf-shadow {
        align-items: flex-end;
    }

    .atf-image {
        height: 470px;
        width: 400px;
    }
}

@media(max-width: 450px) {
    .atf-main {
        gap: 15px;
    }

    .right-content {
        gap: 10px;
    }

    .atf-image {
        width: 300px;
        height: 350px;
    }

    .shadow-image {
        height: 330px;
    }

    .wave {
        bottom: 85px;

        >img {
            height: 222px;
        }
    }

    .atf-border {
        width: 55px;
    }

    .atf-bottom {
        gap: 30px;
    }

    .developer-container {
        margin-right: 15px;
    }

    .frontend-text {
        font-size: 20px;
    }

    .name {
        font-size: 32px;
    }

    .rotate {
        font-size: 26px;
    }

    .talk {
        width: 140px;
        height: 50px;
    }

}